body{
    text-align: center;
    margin: 10%;
    background: linear-gradient(to bottom right, lightgrey, grey);
}
.blog-list{
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}

.title-text{
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog-title{
    color: red;
    margin-top: 30px;
    font-size: 24px;
}

.blog-body{
    color:darkslategrey;
    margin-top: 30px;
    font-size: 16px;
    justify-content: center;
}

.blog-image{
    position: relative;
    width: 400px;
    height: 200px;
}